.HomePage {
    width: 90%;
    margin: auto;
    text-align: center;
    color: #005587;
    font-size: 1.25rem;
    margin-top: 2rem;
}


.HomePage .assignedTasks {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 90%;
    margin: auto;
    padding: 1rem;
    background-color: #005587;
    border-radius: 1rem;
}

.HomePage .gridTaskItem {
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .HomePage .assignedTasks {
        grid-template-columns: 1fr; /* Set to a single column on mobile (or smaller) screens */
    }
}