.HomePage {
    width: 90%;
    margin: auto;
    text-align: center;
    color: #005587;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.HomePage .Social {
    width: 60%;
    text-align: left;
}

.HomePage .Committee {
    width: 60%;
    text-align: left;
}

.HomePage .SAA {
    width: 60%;
    text-align: left;
}

.HomePage .assignedTasks {
    text-align: center;
    border-radius: 1rem;
    margin: auto;
}

.HomePage .background {
    background-color: #005587;
    margin: auto;
    border-radius: 1rem;
    filter: drop-shadow(0rem 1rem 1rem #a0a0a0);
    padding: 2rem;
}

.HomePage .buttonSpacer {
    width: 50%;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
}