.Landing {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  width: 55%;
  color:#005587;
  margin: auto;
}

.Login {
  width: 80%;
  margin: auto;
}

html, body, #root { height: 100%; }