.TaskDashboard {
    color: #005587;
    margin: auto;
    width: 85%;
    text-align: center;
}

.TaskDashboard .Unapproved {
    background-color: #005587;
    color: #FFFDF6;
    width: 47.5%;
    font-size: 1.25rem;
    float: left;
    filter: drop-shadow(0rem 1rem 1rem #a0a0a0);
    border-radius: 1rem;
}

.TaskDashboard .Pending {
    background-color: #005587;
    color: #FFFDF6;
    width: 47.5%;
    font-size: 1.25rem;
    float: right;
    filter: drop-shadow(0rem 1rem 1rem #a0a0a0);
    border-radius: 1rem;
}

.TaskDashboard .UnapprovedTasks {
    padding: 2rem;
    padding-top: 0;
    
}


.TaskDashboard .PendingTasks {
    padding: 2rem;
    padding-top: 0;
}
